# Node modules - Avoid committing dependencies
node_modules/
npm-debug.log*
package-lock.json

# Environment variables - Prevent leaking credentials (e.g., MySQL credentials)
.env
#.env.local
#.env.development
#.env.production
#.env.test

# Logs - Exclude logs to prevent unnecessary repository bloat
#logs
#*.log
npm-debug.log

# MySQL Data Dumps - Avoid committing large SQL dump files
#database-backups/

# IDE files - Exclude editor and workspace settings
.vscode/

# Build files - Ignore transpiled and compiled files
#dist/
#build/
#tmp/
#out/


# Docker files (if applicable)
#docker-compose.override.yml
#.dockerignore

